.page{
  max-height: 95%;
  max-width: 99%;
}

.img_head{
  position: relative;
  text-align: center;
}
.top-left {
  position: absolute;
  top: 70px;
  left: 16px;
z-index: 2;
}

.top-right {
  position: absolute;
  top: 70px;
  right: 16px;
  z-index: 2;
}

.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 1200px;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 0;
}
h1{
  font-size: 50px;
  text-align: center;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.33);
}
h2{
  font-size: 30px;
  text-align: center;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.33);
}
.insbtn{
  width: 250px;
  height: 100px;
  background-color: #83c24457 !important;
  color : white !important;
  font-weight: bold;
  font-size: 20px;
  left: 40%;
}
.footer{
background-color: rgba(128, 128, 128, 0.358);
height: 150px;
}
textarea{
  min-height: 400px;
}

