<div class="page">
  <div class="headpage">
    <img class="top-left" src="http://localhost:8080/image/frontend/tunisie.png" width="80px"   alt="">
    <img class="top-right" src="http://localhost:8080/image/frontend/logo_ministere.png" width="100px"  alt="">
    <img class="img_head" src="http://localhost:8080/image/frontend/head_acceuil.jpg" alt="" width="1680" style="opacity: 0.9;">
    <div class="centered">
      <h1>Republique Tunisienne </h1>
      <h2>Ministre de l'Agriculture, des Ressources Hydrauliques et de la Pêche Maritime </h2>
      <button class="insbtn" routerLink="/login" mat-raised-button>Login</button>
    </div>
  </div>
  <div class="footer row" >
<div class="col-md-4">
  <h5>Contact</h5>
  <p>FAX : 216 7XXXXXXX</p>
</div>
<div class="col-md-4">
  <h5>Mail</h5>
  <p>Mailprojet@mail.tn</p>
</div>
<div class="col-md-4">
  <h5>Addresse </h5>
  <p>XXXXXXXX Rue XXXXX </p>
</div>

  </div>




</div>
